[v-cloak] {
  display: none;
}
.mg-r30 {
  margin-right: 30px;
}

.page-content-wrapper {
	background: #fff;
}
.page-content-wrapper .page-content {
	margin-left:240px;
	padding:0;
  background-color: #f0f0f0;
}
.x-view {
  width: 88%;
  margin: 0 auto;
  background-color: #fff;
  color: #333;
}
.x-view i {
  display: inline-block;
  background-size: 100% 100%;
  margin-right: 10px;
  vertical-align: middle;
}
.x-view .icon-back {
  width: 14px;
  height: 12px;
  background: url("../images/activity/icon-back.png") 0 0 no-repeat;
  vertical-align: middle;
}
.x-view .icon-qrcode {
  width: 26px;
  height: 26px;
  background: url("../images/activity/icon-qrcode.png") 0 0 no-repeat;
  vertical-align: middle;
}
.x-view .icon-course {
  width: 14px;
  height: 16px;
  background: url("../images/activity/icon-course.png") 0 0 no-repeat;
}
.x-view .icon-ques-num {
  width: 18px;
  height: 16px;
  background: url("../images/activity/icon-ques-num.png") 0 0 no-repeat;
}
.x-view .icon-time {
  width: 16px;
  height: 16px;
  background: url("../images/activity/icon-time.png") 0 0 no-repeat;
}
.x-view .icon-right {
  width: 12px;
  height: 13px;
  background: url("../images/activity/icon-right.png") 0 0 no-repeat;
  vertical-align: -1px;
  margin-right: 0;
  margin-left: 5px;
}
.x-view .icon-checkbox {
  width: 19px;
  height: 19px;
  background: url("../images/activity/icon-checkbox.png") 0 0 no-repeat;
}
.x-view .icon-radio {
  width: 21px;
  height: 22px;
  background: url("../images/activity/icon-radio.png") 0 0 no-repeat;
}
.x-view .subnav {
  width: 100%;
  padding-bottom: 15px;
  font-size: 18px;
  background-color: #f7f7f7;
  border-bottom: 4px solid #149588;

  .btn-green {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 10px 15px;
  }
}
.x-view .subnav a {
  color: #333;
  text-decoration: none;
}
.x-view .right {
  float: right;
}

.x-view .right .btn {
  color: #fff;
  font-size: 16px;
  margin-right: 16px;
  border-radius: 5px !important;
}
.x-view .right .btn-green {
  margin-left: 10px;
}
.btn-green-line {
  box-sizing: border-box;
  display: inline-block;
  width: 156px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px !important;
  border: 1px solid #84cac3;
  color: #898b8b;
  background-color: #f3fbfa;
  font-size: 16px;
  padding: 0;
}
.x-article {
  box-shadow: -5px 0 5px #e9e9e9, 5px 0 5px #e9e9e9, 0 5px 5px #e9e9e9;
  padding: 30px 24px 50px;
}
.x-article .header {
  border-bottom: 1px solid #e3e3e3;
  margin: 0 -10px;
  padding: 0 10px;
  padding-bottom: 20px;
}
.x-article .header.no-border {
  border: 0 none;
}
.x-article .link {
  margin: 10px 0;
  font-size: 16px;
}
.x-article .link a {
  color: #666;
  text-decoration: none;
}
.x-article .link a:first-child {
  margin-right: 45px;
}
.x-article .link span {
  font-size: 20px;
  color: #c33b0a;
}
.x-article .link em {
  color: #fd7d23;
  font-size: 20px;
}
.x-article h1 {
    font-size: 20px;
    line-height: 1em;
    margin-bottom: 16px;
    font-weight: normal;
    border-left: 4px solid #35a69d;
    padding-left: 7px;
}
.x-article h2 {
  font-size: 16px;
  padding-bottom: 16px;
  font-weight: normal;
}
.x-article h1 .red {
  font-size: 25px;
  color: #cc3300;
}
.x-article h1 .ora {
  font-size: 25px;
  color: #fd7d23;
}
.x-article h1 .grey {
  color: #666;
}
.x-article .summary {
  font-size: 16px;
  color: #8a8a8a;
  margin: 0 0 10px 0;
  line-height: 1.6em;
}
.x-ques label {
  font-weight: normal;
}
.x-ques dl {
  padding: 22px 0 10px;
  margin: 0;
}
.x-ques h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.x-ques .q {
  font-size: 20px;
  color: #ff8521;
  margin-right: 10px;
}
.x-ques dt {
  padding-bottom: 20px;
}
.x-ques dd {
  font-size: 16px;
  line-height: 2em;
  margin-left: 42px;
  margin-bottom: 20px;
}
.x-ques dd .icon-checkbox,
.x-ques dd .icon-radio {
  margin-right: 10px;
  vertical-align: middle;
}
.x-ques .text {
  width: 100%;
  height: 150px;
  border: 1px solid #e3e3e3;
  background-color: #fdfdfd;
  outline:none;
  line-height: 1.8em;
  padding: 5px 8px;
}
.x-ques .res-opt {
  padding-bottom: 20px;
}
.x-ques .tit-opt {
  line-height: 1.5em;
  margin:0 0 10px 0;
}
.x-ques .textbox {
  width: 96%;
  height: 200px;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5em;
  border: 1px solid #e3e3e3;
  background-color: #fdfdfd;
  padding: 18px 25px;
}
.x-ques .progress-out {
  width: 80%;
  height: 14px;
  float: left;
}
.x-ques .progress-in {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
}
.x-ques .progress-bar {
  display: block;
  height: 100%;
}
.x-ques .progress-bar.blue {
  background-color: #4fbeea;
}
.x-ques .progress-bar.cyan {
  background-color: #a9ca77;
}
.x-ques .progress-bar.yellow {
  background-color: #fec457;
}
.x-ques .progress-num {
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 18px;
  font-size: 20px;
  color: #999;
  line-height: 1em;
  margin-top: -4px;
}
.x-ques .progress-num .blue {
  color: #7dcfef;
}
.x-ques .progress-num .cyan {
  color: #c0d89c;
}
.x-ques .progress-num .yellow {
  color: #fed68a;
}
.tab-nav {
  padding: 0 24px 10px;
  font-size: 18px;
  color: #666;
  border-bottom: 1px solid #e3e3e3;
  margin: 0 -24px;
}
.tab-nav li {
  list-style: none;
  float: left;
  width: 90px;
  height: 46px;
  line-height: 44px;
  border-bottom: 2px solid #fff;
  text-align: center;
  margin-right: 20px;
  cursor:pointer;
}
.tab-nav li:hover {
  color: #fd7d23;
  border-bottom: 2px solid #fd7d23;
}
.tab-nav .active {
  color: #fd7d23;
  border-bottom: 2px solid #fd7d23;
}
.part-list {
  width: 100%;
  color: #666;
  border: 1px solid #e3e3e3;
  border-top: none;
  line-height: 1em;
  text-align: center;
}
.part-list thead > tr, .part-list tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
.part-list thead > tr > th {
  font-size: 18px;
  vertical-align: top;
  padding: 18px;
  font-weight: normal;
  text-align: center;
  border-top: 1px solid #e3e3e3;
}
.part-list tbody > tr > td {
  font-size: 16px;
  padding: 18px;
  vertical-align: top;
  border-top: 1px solid #e3e3e3;
}
#qrcode_dialog .btn-outline {
	float:right;
}
#qrcode_dialog p {
	margin:0;
}
#qrcode_dialog .img-code {
  width: 200px;
  height: 200px;
  display: block;
  margin: 30px auto;

}
#qrcode_dialog ul {
	padding:0 20px;
}
#qrcode_dialog ul,
#qrcode_dialog li {
  list-style: none;
  text-align: center;
  font-size: 20px;
  line-height:1.6em;
}
#qrcode_dialog .btn-box {
  text-align: center;
}
#qrcode_dialog .btn-box > .btn {
  width: 30%;
}
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
.x-full .progress-bar {
  width: 0%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#7BC3FF), color-stop(0.5, #42A9FF), to(#7BC3FF));
}
/****************************************************** 问卷创建增加样式 ***************************************************************/
/*.question_naire{
	width: 80%;
	margin: 0 auto;

}*/
.question_naire .header{
  padding: 18px 24px 18px 0;
}
.question_naire .errorMessag{
  color:#d50000;
  font-size:14px;
  margin:6px 0 0 0;
}
.question_naire .header a.btn_draft{
  background: url("../images/activity/naire_1.png");
  display:inline-block;
  margin: 0 9px 0 0;
  width: 121px;
  height: 33px;
  vertical-align:middle;
}

.question_naire .header a.btn_publish{
  background:#3f9af7;
  color: #fff;
  width: 92px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  display:inline-block;
  border-radius: 5px!important;
  font-size: 16px;
  text-decoration: none;
  vertical-align:middle;

}
.question_naire .header a.btn_publish:hover{
  text-decoration: none;
}
.question_naire .question_content{
  border:1px solid #ebebeb;
  border-top:4px solid #159588;
  padding: 28px 0 20px 0;
  background: #fff;
}
.question_naire .question_content .title{
  padding:0 0 46px 0;
  border-bottom: 1px dashed #9fbfe8;
}
.question_naire .question_content .con{
  padding: 40px 30px 0 42px;
}
.question_naire .question_content .con .question{
  padding: 10px 0 0 0;
}
.question_naire .question_content .con .qu_width{
  width: 93.4%;
}
.question_naire .question_content .con .qu_width_t{
  width: 92.4%;
}
.question_naire .question_content .con .type{
  height: 64px;
  line-height: 64px;
  padding: 0 0 0 14px;
  width:100%;
}
.question_naire .question_content .con .type li{
  float: left;
  margin-right: 48px;
  cursor:pointer;
}
.question_naire .question_content .con .type .six68_l{
  margin-right: 68px;
}
.question_naire .question_content .con .type .six68_r{
  margin-left: 68px;
}
.question_naire .question_content .con .type .line{
  height: 34px;
  width: 1px;
  background:#dbdada;
  overflow: hidden;
  margin: 15px 0;
}
.question_naire .question_content .con .type .multi_cur{
  background:url("../images/activity/naire_8.png") no-repeat left center;
  padding: 0 0 0 25px;
}
.question_naire .question_content .con .type .multi_nomal{
  background:url("../images/activity/naire_7.png") no-repeat left center;
  padding: 0 0 0 25px;
}
.question_naire .question_content .con .type .n_nomal{
  background:url("../images/activity/naire_10.png") no-repeat left center;
  padding: 0 0 0 25px;
}
.question_naire .question_content .con .type .n_cur{
  background:url("../images/activity/naire_9.png") no-repeat left center;
  padding: 0 0 0 25px;
}
.question_naire .question_content .con dt{
  float: left;
  font-size: 22px;
  color:#333;
  font-weight: normal;
  margin: 6px 0 0 0;
  width: 15px;
}
.question_naire .question_content .con dd{
  float: left;
  padding-left: 6px;
}
.question_naire .question_content .con .del{
  background:url(../images/activity/naire_2.png);
  width: 26px;
  height: 26px;
  border:none;
  margin: 9px 0 0 6px;
}
.question_naire .question_content .index{
  color: #ff8521;
  font-size: 24px;
  padding: 0 0 0 10px;
}
.question_naire .question_content .pull_rg_dis{
  margin: 0 10px 0 0;
}
.question_naire .question_content a.btn_delete{
  background:url(../images/activity/naire_3.png) no-repeat;
  width: 21px;
  height: 23px;
  display:block;
  float: left;
  margin: 0 16px 0 0;
}
.question_naire .question_content a.btn_delete_gray{
  background:url(../images/activity/naire_3.png) no-repeat left center;
  height: 23px;
  margin: 0 16px 0 0;
  padding: 0 0 0 29px;
  color: #149588;
  display: inline-block;
  font-size:16px;
}


.question_naire .question_content a.btn_moveup{
  border:1px solid #009899;
  width: 64px;
  height: 28px;
  line-height: 28px;
  border:1px solid #009999;
  border-radius: 5px;
  text-align: center;
  display:block;
  float: left;
  margin: 0 11px 0 0;
  color: #149588;
  text-decoration: none;

}
.question_naire .question_content .mg_none{
  margin:0!important;
}
.question_naire .control-label{
  text-align: right!important;
  padding-top:7px;
  font-weight:400;
}
.question_naire .left_dis{
  padding: 0 0 0 24px;
  width: 120px;
  font-size: 18px;
  line-height: 44px;
}
.question_naire .rg_dis{
  width:85%;
}
.question_naire .rg_input_h{
  height: 44px;
  width: 100%;
  font-size: 16px;
  color: #555;
  /*border: 1px solid #dfdfdf;*/
  padding: 0 0 0 14px;
  border-radius: 0!important;
}
.question_naire .rg_btn{
  height: 44px;
  line-height:44px;
  font-size: 16px;
  color: #999;
  border: 1px solid #dfdfdf;
  padding: 0 0 0 14px;
  border-radius: 0!important;
  width:93px;
  font-size:15px
}
.question_naire .footer{ padding: 0 0 0 42px; }
.question_naire .footer .tit{
  padding: 18px 0 18px 25px;
  color: #666;
  background: url(../images/activity/naire_12.png) no-repeat left center;
}
.question_naire .footer .btn_add{
  background:url(../images/activity/naire_11.png) no-repeat;
  width: 138px;
  height: 41px;
  line-height: 41px;
  border:0;
}
/*�ɹ�ҳ��*/
.question_sucess{
  padding: 28px 0 0 0;

}
.question_sucess .center{
  text-align: center;
  color:#333;
}
.question_sucess h1{
  font-size: 20px!important;
  font-weight: bold;
  padding: 12px 0 0 0;
  margin:0;
}
.question_sucess h2{
  padding: 14px 0 0 0;
  font-size: 18px!important;
  margin:0;
}
.question_sucess .h2_pad{
  padding: 52px 0 0 0;
}
.question_sucess h3{
  padding: 46px 0 0 0;
  font-size: 18px!important;
  margin:0;
}
.question_sucess .h3_pad{
  padding: 18px 0 0 0;
}
.question_sucess h4{
  padding: 30px 0 0 0;
  margin:0 auto;
  height:202px;
  width:172px;
}
.question_sucess a.btn_save{
  margin: 26px 0 30px 0;
  width: 254px;
  height: 44px;
  line-height:44px;
  border:1px solid #3f99f6;
  border-radius: 12px!important;
  font-size: 22px;
  color: #3f99f6;
  background:#fff;
  /*-moz-border-radius: 15px!important;
  -webkit-border-radius: 15px!important;*/
  text-decoration:none;
  display:inline-block;

}
.question_sucess a.btn_save:hover{
  text-decoration:none;
}
.lj_time{
  border:1px solid #ccc!important;
  background:#e2e2e2;
  color:#333;
  height:44px;
  line-height:0;
  font-size:15px;
  border:0;
}
@media screen and (max-width:1152px){
  .question_naire .rg_dis{
    width:78%;
  }
  .col-md-4{
    width:23.5%!important;
  }
  .question_naire .question_content .con .qu_width_t{
    width:92%;
  }
  .question_naire .question_content .con .type li{
    margin-right:25px;
  }
  .question_naire .question_content .con{
    padding:30px 10px 0 12px
  }
}

//activity by jiajy
//@img: "../../../assets/img/icon";
a.title_hover{ color: #222; font-weight: 500!important;}
a.title_hover:hover{ color: #1077d7; text-decoration: underline}
/*title竖线标题*/
.answer_con{
  padding: 0 10px 0 0;
}
.answer_con .title{
  border-bottom: 1px solid #e6e6e6;
  padding:0 0 22px 0;
  padding-left: 17px;
  font-size: 20px;
}
.answer_con .title .icon{
  border-bottom: 1px solid #e6e6e6;
  width: 3px;
  height: 18px;
  overflow: hidden;
  display: inline-block;
  background: #35a69d;
  vertical-align: middle;
  margin-right: 10px;

}
.margin16{
  margin-top: 16px;
}
.answer{
  color: #666;
}
.answer_tit{
  padding:20px 0 25px 16px;


}
.answer_left_none{
  border-top-left-radius:0!important;
  border-bottom-left-radius:0!important;
  border-left:8px solid #35a69d!important;
}
.answer_tit h1{
  font-size:20px;
  color: #333;
  padding:0 0 16px 0;
}
.answer_tit .detail{

}

.answer_tit .detail li{
  line-height: 26px;
  padding-bottom: 16px;
  word-break: break-all;
}
.answer_tit .detail .images{
  padding:20px 0 0 21px;
}
.answer-detail .images{
  padding:20px 0 0 0!important;
}
.answer-more{
  background: url("../images/icon/icon-more-t.png") no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
}
.answer-s{
  background: url("../images/icon/icon-more-s.png") no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
}
.answer-detail .images li{
   float: left!important;
   padding-right: 10px;
   border-bottom: none!important;
  padding-left: 0!important;
 }
.answer-detail .image{
  float: left;
  margin-top: 10px;
}
.answer-detail li .image img{
  border-radius: 50%;
}
.answer-detail li .text{
  float: left;
  padding-top:16px;
  padding-bottom: 16px;
  padding-left: 18px;
  color: #333;
  width: 70%;
  background: #f5faff;
  border-left: 2px solid #9dcece;
  margin-left: 12px;

}
//.answer-detail li .answer-title .text{
//   background: none!important;
//  border-left: none!important;
//}
//.answer-detail li .answer-title span{
//   display: block;
//}
.answer-detail li .text h2{
  padding-bottom: 18px;
  font-size: 16px;
}
.answer-detail li .text .h2_padnone{
  padding-bottom: 5px;
}
.answer-detail li .text p{
  line-height: 25px;
}
.answer-detail li .p_border{
  border:1px solid #c0e0e0;
  background: #f5fafa;
  border-radius: 3px;
  padding:15px 12px;
  color: #333;
  line-height: 25px;
  width: auto!important;
  position: relative;
}
.answer-detail li .p_corner{
    background: url("../images/icon/icon-answer-corner.png") center center no-repeat;
    width: 10px;
    height: 20px;
    position: absolute;
   left: -10px;
   top: 10px;
   display: inline-block;
}
.answer-detail li .text h2 span{
  padding:0 0 0 19px;
  display: inline-block!important;
}



.answer_tit .detail .images li{
  float: left;
  padding-right: 10px;
}
.answer_tit .detail .images li img,.answer-detail .images li img{
  border-radius: 5px;
}
.answer_tit .icon-describe{
  background: url("../images/icon/icon-answer-describe.png") center center no-repeat;
  background-size:100% 100%;
  vertical-align:middle;
  display: inline-block;
  width: 13px;
  height: 17px;
  margin-top:-1px;
  margin-right: 8px;
}
.answer_tit .icon-con{
  display: inline-block;
  width: 85%;
  margin-top:-6px;
}
.icon-con{
  position: relative;
}
.icon-more-none{
  position: absolute;
  bottom: -5px;
  right:-20px;
}
.answer_tit .icon-more{
  display:inline-block;
  vertical-align:top;
  line-height: 30px
}
.answer_tit .icon-more-none{
  margin-top:0;
}
.answer_tit .icon-more-margin{
  margin-top:10px;
}

.answer_tit .icon-course{
   background: url("../images/icon/icon-answer-course.png") center center no-repeat;
   background-size:100% 100%;
   vertical-align: middle;
   display: inline-block;
   margin-top:5px;
   width: 13px;
   height: 17px;
  margin-right: 8px;
 }
.answer_tit .icon-clazz{
  background: url("../images/icon/icon-answer-clazz.png") center center no-repeat;
  background-size:100% 100%;
  vertical-align: middle;
  display: inline-block;
  margin-top:5px;
  width: 14px;
  height: 13px;
  margin-right: 8px;
}
.answer_tit .icon-members{
  background: url("../images/icon/icon-answer-members.png") center center no-repeat;
  background-size:100% 100%;
  vertical-align:top;
  display: inline-block;
  width: 14px;
  height: 16px;
  margin-top:4px;
  margin-right: 8px;
}
.answer_tit .icon-home-time{
  background: url("../images/icon/icon-home-time.png") center center no-repeat;
  background-size:100% 100%;
  vertical-align: text-bottom;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.answer_tit .answer-more{
  background: url("../images/icon/icon-more-t.png") no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
}
.answer_con .con{
  padding-top: 20px;
  padding-left: 16px;

}
.answer_con .con_none{
  padding-top: 0;
}
.answer_con .con li{
  border-bottom: 1px solid #e6e6e6;
  padding-left:30px;
  padding-bottom: 14px;
}
.answer_con .con .border_none{
   border-bottom: none;
}
.answer_con .con li .image{
  float: left;
  margin-top: 15px;
}
.answer_con .con li .image img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.answer_con .con li .text{
  float: left;
  padding-top:16px;
  padding-left: 16px;
  color: #333;
  width: 70%;

}
.answer_con .con li .discuss-text{
  float: left;
  padding-top:16px;
  padding-left: 18px;
  color: #333;
}
.answer_con .con li .text-none{
  border-left: none;
  background: none;
  width: auto;
}
.answer_con .con li .text h2{
  font-size: 18px;
  color: #959595;
}
.answer_con .con li h3{
  font-size: 20px;
  padding:24px 0 16px 0;
  width: 70%;
}
.answer_con .con li p{
  line-height: 25px;
  width: 85%;
  font-size: 16px;
}
.answer_con .con li .text h2 span{
  display: block;
  font-size: 14px;
  padding-top:8px;
}
.answer_con .commonts{
  padding:16px 28px 0 0;
  float: right;
  color:#999;
}
.answer_con .commonts .icon-comments{
  background: url("../images/icon/icon-answer-comment.png") no-repeat;
  width: 17px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.answer-footer{
  padding-top:13px;
}
.answer-footer p{
  float: right;
  font-size: 14px;
  color: #7f7f7f;
  padding-right: 40px;
}
.homework-commit{
  background: #35a69d;
  padding:8px 40px;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
}
.homework .mark{
     padding: 25px 0 25px 36px;
}
.homework-footer{
  float: right;
  margin-right: 10px;
}
.homework .mark li{
  float: left;
  margin-right: 25px;
}
.homework a.home-qualify{
  background: url("../images/activity/home-qualify-cur.png") no-repeat;
  width: 103px;
  height: 73px;
  display: inline-block;
}
.homework a.home-qualify:hover,.homework a.home-unqualify-cur{
  background: url("../images/activity/home-unqualify.png") no-repeat;
  width: 103px;
  height: 73px;
  display: inline-block;
}
.homework a.home-hege{
  background: url("../images/activity/home-hege.png") no-repeat;
  width: 103px;
  height: 73px;
  display: inline-block;
}
.homework a.home-hege:hover,.homework a.home-hege-cur{
  background: url("../images/activity/home-hege-cur.png") no-repeat;
  width: 103px;
  height: 73px;
  display: inline-block;
}
.homework a.home-good{
  background: url("../images/activity/home-good.png") no-repeat;
  width: 103px;
  height: 73px;
  display: inline-block;
}

.homework a.home-good:hover,.homework a.home-goog-cur{
  background: url("../images/activity/home-goog-cur.png") no-repeat;
  width: 103px;
  height: 73px;
  display: inline-block;
}
.homework a.home-youxiu{
  background: url("../images/activity/home-youxiu.png") no-repeat;
  width: 103px;
  height: 73px;
  display: inline-block;
}
.homework a.home-youxiu:hover,.homework a.home-youxiu-cur{
  background: url("../images/activity/home-youxiu-cur.png") no-repeat;
  width: 103px;
  height: 73px;
  display: inline-block;
}
.homework .h-commonts{
  margin-left: 30px;
}
.homework .h-commonts h2{
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 12px;
}
.homework .h-commonts textarea{
  border: 1px solid #bfcbd9;
  font-size: 14px;
  color: #666;
  width: 100%;
  height: 93px;
  border-radius: 3px;
  margin-bottom:12px;
}
a.icon-home-uncommit{
  display: inline-block;
  padding: 9px 16px;
  line-height: 1em;
  color: #666;
  font-size: 20px;
  border:1px solid #82cac3;
  border-radius: 3px;
  background: #f2fbfa;
}
a.icon-home-uncommit span{
  color: #ce3200;
  display: inline-block;
  padding-left: 8px;
}
a.icon-home-type{
  padding:3px 12px;
  color: #737373;
  border-radius: 2px;
  margin-left: 8px;
  display: inline-block;
  border: 1px solid #a5a5a5;
}
a.icon-dis-choose{
  display: inline-block;
  padding: 10px 16px;
  line-height: 1em;
  color: #333;
  font-size: 14px;
  border:1px solid #82cac3;
  border-radius: 3px;
  background: #f2fbfa;
}
//照片墙大屏幕
.photofull .header {
  box-sizing: border-box;
  width: 100%;
  height: 79px;
  line-height: 79px;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 3px solid #fb8324;
  background-color: #553f3a;
  color:#fff;
  padding:0 5%;
  font-size:24px;
  text-align: center;
}
.photofull .header a.back{
  background: url("../images/photowall_photo_full/pic1.png") no-repeat left 25px;
  padding-left:42px;
  float: left;
  color: #fff;
  text-decoration: none;
}

.photofull .header .name{
  float: right;
}
.photofull .header a.praise{
  display: inline-block;
  background: url(../images/photowall_photo_full/pic8.png) no-repeat left 25px;
  padding:0 42px 0 34px;
  float: right;
  color: #ffb37c;

}
.photofull .header .title{
  padding-left: 42px;
  padding-right: 42px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;

}
.photofull #picwall .footer{
  position: absolute;
  bottom: 5%;
  background: url(../images/photowall_photo_full/pic2.png) no-repeat;
  width: 490px;
  height: 69px;
  line-height: 69px;
  z-index: 1000;
  margin: auto;
  left: 0;
  right: 0;
  padding: 7px 0 0 64px;
}
.photofull #picwall .footer a.prev{
  background: url(../images/photowall_photo_full/pic9.png) no-repeat;
  width: 26px;
  height: 22px;
  display: block;
  float:left;
  margin-top:14px;
  margin-right: 55px;

}
.photofull #picwall .footer a.next{
  background: url(../images/photowall_photo_full/pic7.png) no-repeat;
  width: 26px;
  height: 22px;
  display: block;
  float:right;
  margin-top:14px;
  margin-right: 53px;
}
.photofull #picwall .footer a.enlarge{
  background: url(../images/photowall_photo_full/pic4.png) no-repeat;
  width: 29px;
  height: 29px;
  margin-right: 55px;
  display: inline-block;
}
.photofull #picwall .footer a.narrow{
  background: url(../images/photowall_photo_full/pic6.png) no-repeat;
  width: 29px;
  height: 29px;
  margin-right: 55px;
  display: inline-block;
}
.photofull #picwall .footer a.play{
  background: url(../images/photowall_photo_full/pic5.png) no-repeat;
  width: 29px;
  height: 32px;
  display: inline-block;
  margin-right: 55px;
}
.photofull #picwall .footer a.stop{
  background: url(../images/photowall_photo_full/pic5_stop.png) no-repeat;
  width: 29px;
  height: 32px;
  display: inline-block;
  margin-right: 55px;
}

.photofull .avatar {
  border-radius: 50%!important;
  float:left;
  height:45px;
  width:45px;
  margin:13px 7px 0 0;
}
.photofull .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft
}
@-webkit-keyframes bounceInLeft {
  0%,100%,60%,75%,90% {
    -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
    transition-timing-function: cubic-bezier(0.215,.61,.355,1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px,0,0);
    transform: translate3d(-3000px,0,0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px,0,0);
    transform: translate3d(25px,0,0)
  }

  75% {
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0)
  }

  90% {
    -webkit-transform: translate3d(5px,0,0);
    transform: translate3d(5px,0,0)
  }

  100% {
    -webkit-transform: none;
    transform: none
  }
}
